<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hello world</h1>
        <p><a href="aboutme" class="btn btn-primary">About me</a></p>
        <p><a href="insert"  class="btn btn-primary">กรอกข้อมูล</a></p>
        
        <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.0-9/1000017_514616825298675_1431738369_n.jpg?_nc_cat=111&_nc_oc=AQmtqGSeLq3uQQBl2-A8BfRO4anEAbHO0htv_EO4Jk60hMsgSo50fLwFrBK57oZHC-4&_nc_ht=scontent.fubp1-1.fna&oh=4e01780b0f0d76512207b0d4452cd919&oe=5E268703https://scontent.fubp1-1.fna.fbcdn.net/v/t1.0-9/1000017_514616825298675_1431738369_n.jpg?_nc_cat=111&_nc_oc=AQmtqGSeLq3uQQBl2-A8BfRO4anEAbHO0htv_EO4Jk60hMsgSo50fLwFrBK57oZHC-4&_nc_ht=scontent.fubp1-1.fna&oh=4e01780b0f0d76512207b0d4452cd919&oe=5E268703" style="width:640px;height:360px">
        <h5>picture by <a href="https://www.facebook.com/photo.php?fbid=514616825298675&set=a.100264370067258&type=3&theater">facebook img</a></h5>
      </div>
    </div>

  </body>
</html>